h1{
    text-align: center;
    border: 3px solid #aaa;
    margin: 50px;
    padding: 10px;
}
.calculator {
	max-width: 300px;
	margin: auto;
	padding: 10px;
	border: 3px solid #ccc;
	border-radius: 8px;
    background-color: rgb(224, 221, 221);
}

.screen {
    position: relative;
	margin-bottom: 30px;
}

input[type="text"] {
	width: 93%;
	padding: 10px;
	font-size: 24px;
	text-align: right;
	border-radius: 8px;
	border: 1px solid #ccc;
    background-color: rgb(249, 249, 249);
}

.cursor {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-40%);
	animation: blink .8s infinite;
}

@keyframes blink {
	40% {
		opacity: 0;
	}
}
.buttons {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 5px;
}

button {
	padding: 10px;
	font-size: 24px;
	background-color: #b3b2b2;
	border-radius: 8px;
	border: none;
	cursor: pointer;
}

button:hover {
	background-color: #aaa;
}
